body{
    font-family: sans-serif;
    line-height: 18px;
}

.navbar{
   display: flex;
   justify-content: space-between;
}

header{
    background-color: rgb(245, 245, 238);
}

nav{
    margin: 0 70px 0 70px;
    z-index: 1;
}

.nav-g{
    display: flex;
}

.nav-d{
    display: flex;
    margin-right: 300px;
}

.nav-d > div{
    padding: 20px;
}

.nav-g > div{
    padding: 20px;
}

.nav-g > div > ul > li{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.nav-g > div > ul > li:hover .sous{
    display: block;
}

.sous{
    display: none;
    list-style: none;
    margin: 15px;
    line-height: 30px;
}

.nav-g > div > ul > li > ul > li >a{
    text-decoration: none;
}

.nav-g > div > p > a{
    text-decoration: none;
}

.nav-d > div > p > a{
    text-decoration: none;
}

.nav-d > div > p{
    font-size: 15px;
    color: black;
}

.form-1 > p{
    border-bottom: 3px solid black;
    padding: 15px;
}

.form-1 > p >a{
    font-size: 20px;
}

.form-2 > button{
    border-radius: 50px;
    background-color: black;
    padding: 20px;
}

.form-2 > button{
    color: rgb(122, 150, 122);
    font-size: 20px;
}

.form-2 > button:hover{
    background-color: rgb(122, 150, 122);
    color: black;
    border: 2px solid black;
}

.form-2 > p > a:hover{
    color: black;
}

.blog > p > a{
    font-size: 20px;
}

/*partie section*/

.page-padding{
    flex-direction: column;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
}

.container{
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 80rem;
    display: flex;
}

.wrapper-header{
    grid-row-gap: 64px;
    flex-direction: column;
    align-items: stretch;
    padding-top: 48px;
    padding-bottom: 120px;
    display: flex;
}

.wrapper-card-header{
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    background-color: rgb(15, 35, 15);
    color: rgb(220, 220, 192);
    border-radius: 16px;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    max-width: 150%;
    margin-left: 100px;
    align-items: stretch;
    padding: 104px 59px;
    display: flex;
}

.content{
    grid-row-gap: 32px;
    color: var(--vert-blanc);
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: flex;
}

.content > h1{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 58px;
    font-weight: 500;
    line-height: 58px;
}

.content > p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
}

.content-wrapper{
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.button-green{
    grid-column-gap: 16px;
    border: 2px solid var(--vert-blanc);
    background-color: var(--vert-blanc);
    color: var(--vert-sapin);
    border-radius: 50px;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    padding: 12px 24px;
    font-family: greycliffcf, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    transition: all .15s;
    display: flex;
}

.bx-right-arrow-alt{
    grid-column-gap: 16px;
    border: 2px solid var(--vert-blanc);
    background-color: var(--vert-blanc);
    color: var(--vert-sapin);
    border-radius: 50px;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    padding: 12px 24px;
    font-family: greycliffcf, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    transition: all .15s;
    display: flex;
}

button{
    border-radius: 30px;
    background-color: rgb(154, 189, 154);
}

button:hover{
    border: 2px solid rgb(154, 189, 154);
    background-color: black;
}

button a:hover{
    color: rgb(154, 189, 154);
}

.global{
    display: flex;
    flex-direction: row;
}

.flex-box{
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    margin-right: 8px;
}

div > .sentence{
    display: block;
    unicode-bidi: isolate;
}