body{
    font-family: sans-serif;
    line-height: 18px;
}

.navbar{
   display: flex;
   justify-content: space-between;
}

header{
    background-color: rgb(245, 245, 238);
}

nav{
    margin: 0 70px 0 70px;
    z-index: 1;
}

.nav-g{
    display: flex;
}

.nav-d{
    display: flex;
    margin-right: 300px;
}

.nav-d > div{
    padding: 20px;
}

.nav-g > div{
    padding: 20px;
}

.nav-g > div > ul > li{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.nav-g > div > ul > li:hover .sous{
    display: block;
}

.sous{
    display: none;
    list-style: none;
    margin: 15px;
    line-height: 30px;
}

.nav-g > div > ul > li > ul > li >a{
    text-decoration: none;
}

.nav-g > div > p > a{
    text-decoration: none;
}

.nav-d > div > p > a{
    text-decoration: none;
}

.nav-d > div > p{
    font-size: 15px;
    color: black;
}

.form-1 > p{
    border-bottom: 3px solid black;
    padding: 15px;
}

.form-1 > p >a{
    font-size: 20px;
}

.form-2 > button{
    border-radius: 50px;
    background-color: black;
    padding: 10px;
    text-align: center;
    margin-left: 5px;
}

.form-2 > button{
    color: rgb(122, 150, 122);
    font-size: 20px;
}

.form-2 > button:hover{
    background-color: rgb(122, 150, 122);
    color: black;
    border: 2px solid black;
}

.form-2 > p > a:hover{
    color: black;
}

.blog > p > a{
    font-size: 20px;
}

/*partie section*/

.page-padding{
    flex-direction: column;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
}

.container{
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 80rem;
    display: flex;
}

.wrapper-header{
    grid-row-gap: 64px;
    flex-direction: column;
    align-items: stretch;
    padding-top: 48px;
    padding-bottom: 120px;
    display: flex;
}

.wrapper-card-header{
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    background-color: rgb(15, 35, 15);
    color: rgb(220, 220, 192);
    border-radius: 16px;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    max-width: 150%;
    margin-left: 100px;
    align-items: stretch;
    padding: 104px 59px;
    display: flex;
    font-size: 1.2rem;
    line-height: 20px;
}

.content{
    grid-row-gap: 32px;
    color: var(--vert-blanc);
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: flex;
}

.content > h1{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 58px;
    font-weight: 500;
    line-height: 58px;
}

.content > p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
}

.content-wrapper{
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.button-green{
    grid-column-gap: 16px;
    border: 2px solid var(--vert-blanc);
    background-color: var(--vert-blanc);
    color: var(--vert-sapin);
    border-radius: 50px;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    padding: 12px 24px;
    font-family: greycliffcf, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    transition: all .15s;
    display: flex;
}

.bx-right-arrow-alt{
    grid-column-gap: 16px;
    border: 2px solid var(--vert-blanc);
    background-color: var(--vert-blanc);
    color: var(--vert-sapin);
    border-radius: 50px;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    padding: 12px 24px;
    font-family: greycliffcf, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    transition: all .15s;
    display: flex;
}

button{
    border-radius: 30px;
    background-color: rgb(154, 189, 154);
}

button:hover{
    border: 2px solid rgb(154, 189, 154);
    background-color: black;
}

button a:hover{
    color: rgb(154, 189, 154);
}

.global{
    display: flex;
    flex-direction: row;
}

.flex-box{
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    margin-right: 8px;
}

div > .sentence{
    display: block;
    unicode-bidi: isolate;
}

.wrapper-subheader{
    grid-column-gap: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.subheader-content.left {
    color: rgb(154, 189, 154);
    justify-content: flex-end;
    text-decoration: none;
}

.subheader-content {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
    display: flex;
}

.inline{
    max-width: 100%;
    display: flex;
}

.wrapper-subheader{
    font-size: 1.2rem;
}

.wrapper-subheader a{
    background-color: transparent;
    text-decoration: none;
    color: rgb(154, 189, 154);
}

.wrapper-subheader a div{
    display: block;
    unicode-bidi: isolate;
}

.icon-2 {
    flex: none;
    width: 24px;
    height: 24px;
}

.wha{
    vertical-align: middle;
    max-width: 100%;
    display: flex;
}

.separator{
    background-color: black;
    align-self: stretch;
    width: 1px;
}

.subheader-content {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: row;    
    align-items: center;
    width: 350px;
    display: flex;
}

.wrapper-trustpilot {
    grid-column-gap: 4px;
    grid-row-gap: 8px;
    background-color: var(--white);
    border-radius: 8px;
    flex-direction: column;
    padding: 10px;
    display: flex;
}

.trustpilot-star {
    width: 128px;
    height: 24px;
}

.wrapper-trustpilot{
    grid-column-gap: 4px;
    grid-row-gap: 8px;
    background-color: white;
    border-radius: 8px;
    flex-direction: column;
    padding: 10px;
    display: flex;
}

.main-wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    flex-direction: column;
    display: flex;
    background-color: rgb(245, 245, 238);
}

.page-padding.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.page-padding {
    flex-direction: column;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
}

.container {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 80rem;
    display: flex;
}

.wrapper-logo {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.clwrapper-bandeau {
    position: relative;
}

.clist-bandeau {
    white-space: nowrap;
    will-change: transform;
    animation: marquee-horizontal 60s linear infinite;
}


@media screen and (max-width: 991px) {
    .clist-bandeau {
        align-content: stretch;
    }
}

.clist-bandeau {
    justify-content: flex-start;
    width: 100%;
    display: flex;
}

.clist-bandeau {
    white-space: nowrap;
    will-change: transform;
    animation: marquee-horizontal 60s linear infinite;
}

.content-logo {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    transition: all .15s;
    display: flex;
}

.logo {
    filter: grayscale();
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

.section-small-business {
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.trigger-anchor {
    height: 84px;
    position: absolute;
    top: -84px;
    left: 0%;
    right: auto;
}

.page-padding {
    flex-direction: column;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
}

.container {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 80rem;
    display: flex;
}

.wrapper-small-business {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-direction: column;
    align-items: stretch;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
}

.wrapper-title-section {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 67.2px;
}

.span-orange {
    color: rgb(255, 140, 0);
}

.wrapper-content-business-type {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-direction: row;
    align-items: center;
    display: flex;
}

.wrapper-content {
    grid-row-gap: 48px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: flex;
}

._w-content-type {
    grid-row-gap: 24px;
    flex-direction: column;
    display: flex;
}

h3 {
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
}

h3 {
    color: rgb(132, 236, 169);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
}

p{
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(46, 48, 46);
    font-size: 1.2rem;
    line-height: 22px;
}

._w-content-type {
    grid-row-gap: 24px;
    flex-direction: column;
    display: flex;
}

.h3-card {
    color: rgb(46, 48, 46);
    font-weight: 700;
}

h3 {
    color: var(--vert-blanc);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
}

.button-black {
    grid-column-gap: 16px;
    border: 2px solid rgb(121, 149, 121);
    background-color: rgb(34, 36, 34);
    color: rgb(132, 236, 169);
    border-radius: 50px;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    padding: 12px 24px;
    font-family: greycliffcf, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    transition: all .15s;
    display: flex;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.w-inline-block {
    display: flex;
    text-align: center;
    margin-top: 3px;
}

.icon-24 {
    flex: none;
    width: 24px;
    height: 24px;
}

.w-embed:before, .w-embed:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-embed:after {
    clear: both;
}

.w-embed:before, .w-embed:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

@media screen and (max-width: 991px) {
    .wrapper-illustration {
        padding-top: 0;
    }
}

.wrapper-illustration {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0;
    display: flex;
    position: relative;
}

.illustration-content {
    background-color: rgb(99, 202, 135);
    border-radius: 16px;
    width: 100%;
    height: 70%;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

@media screen and (max-width: 991px) {
    .pattern-3 {
        top: 0;
    }
}



@media screen and (max-width: 991px) {
    .illustration-1 {
        width: 320px;
        height: 400.047px;
    }
}

.illustration-1 {
    object-fit: contain;
    border-radius: 20px;
    width: 350px;
    height: 437.547px;
    position: relative;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}